*,
*::before,
*::after {
    box-sizing: border-box;
}

/*
font-family: 'Great Vibes', cursive;
font-family: 'Oregano', cursive;
font-family: 'Montserrat', sans-serif;
*/

body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    background-image: url("./images/backgroundImage.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: #dfb0ff;

}


img {
    max-width: 100%;
}

/* TYPOGRAPHY */

h1, h2, h3, h4, h5, h6, p {
    margin-top: 0;
}

h2, h3, h4, h5, h6 {
    font-family: 'Oregano', cursive;
}

h1 {
    font-size: 3.75rem;
    font-family: 'Great Vibes', cursive;
    margin-bottom: 0;
    color: #dfb0ff;
}

h2 {
    margin: 0;
    padding: 0.15em;
}


p {
    font-size: 0.9rem;
    margin-bottom: 0;
    letter-spacing: 0.1em;
    line-height: 2em;
    font-weight: 700;
}

button {
    padding: 0.7em 1.4em;
    font-weight: 700;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    transition: all 0.2s ease-in-out;
    font-size: 0.7rem;
}

@keyframes slide-up {
    0% {
        opacity: 0;
        -webkit-transform: translate(-50%, 50%);
        transform: translate(-50%, 50%);
    }
    100% {
        opacity: 1;
        -webkit-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
    }
}

@keyframes slide-down {
    0% {
        opacity: 1;
        -webkit-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
    }
    100% {
        opacity: 0;
        -webkit-transform: translate(-50%, 50%);
        transform: translate(-50%, 50%);
    }
}


@keyframes highScoreSlide {
    0% {
        opacity: 0;
        top: -10%;
    }
    30% {
        opacity: 1;
        top: 5%;
    }
    60% {
        opacity: 1;
        top: 5%;
    }
    100% {
        opacity: 0;
        top: -10%;
    }
}

.toggleOut {
    animation: slide-down 500ms;
    opacity: 0;
}

.toggleIn {
    animation: slide-up 500ms;
    opacity: 1;
}

.high-score_animation {
    animation: highScoreSlide 2500ms;
    opacity: 0;
}

.lrg-img {
    height: 200px;
}

.staff {
    transform: rotate(20deg);
}

@media (min-width: 500px) {
    p {
        font-size: 1rem;
    }

    button {
        font-size: 0.8rem;
    }
}
